<section id="services" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>My Lists</h2>
                <hr class="small">

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                          <%= link_to "#" do %>
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-list text-primary"></i>
                            </span>
                            <h3><strong>House Chores</strong></h3>
                          <% end %>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                          <%= link_to "#" do %>
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-list text-primary"></i>
                            </span>
                            <h3><strong>Groceries</strong></h3>
                          <% end %>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                          <%= link_to "#" do %>
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-list text-primary"></i>
                            </span>
                            <h3><strong>School</strong></h3>
                          <% end %>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                          <%= link_to "#" do %>
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-list text-primary"></i>
                            </span>
                            <h3><strong>People I Hate</strong></h3>
                          <% end %>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <div class="row">
                                  <br>
                <%= link_to "New List", "#", class: "btn btn-lg btn-primary" %>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
