<tr>
<% if item.completed? %>
  <td class="text-editable col-md-10" style="opacity:0.3;"><strike><%= item.task %></strike></td>
  <td class="col-md-1">
    <%= link_to undo_list_item_path(@list, item.id), method: :patch do %>
        <i class="fa fa-check-square fa-2x" aria-hidden="true"></i>
    <% end %>
<% else %>
  <td class="text-editable col-md-10"><%= item.task %></td>
  <td class="col-md-1">
    <%= link_to complete_list_item_path(@list, item.id), method: :patch do %>
        <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
    <% end %>
  </td>
<% end %>
  <td class="col-md-1">
    <%= link_to list_item_path(@list, item.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
